:root{
  --color-primary:rgba(52, 201, 75, 1);
  --color-black:rgba(18, 18, 18, 1);
  --color-white:rgba(255, 255, 255, 1);
  --font-sm:12px;
  --font-md:16px;
  --font-lg:20px;
  --background-color:#000000


}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black) ;
  color: var(--color-white);
  overflow-x: hidden;
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
