
.feedbackbutton {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(52, 201, 75, 1);
  border: 1px solid black;
  width: 170px;
  height: 40px;
  cursor: pointer;
}

.divbutton{
  padding-top: 13px;
    padding-right: 32px;
}
